.signUpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signUpTitle {
    margin-top: 107px;
    display: flex;
    flex-direction: row;
    margin-right: 150px;
}

.signUpTitle img {
    position: relative;
    top: -8px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.signUpTitle p {
    font-family: 'Margarine', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.24px;
    color: #353535;
}

.signUpDescription a {
    margin-right: 108px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.SignUpForm form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 298px;
    gap: 33px;
}

.SignUpForm input {
    height: 45px;
    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

.SignUpForm label {
    position: relative;
    top: 20px;
    right: -3px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.locationHolder {
    display: flex;
    flex-direction: row;
    margin-top: 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #E1591F;
}

.locationHolder img {
    width: 15px;
    height: 15px;
    margin-top: 4px;
    margin-right: 11px;
}

.move {
    margin-right: 30px;
}

.DiscoverFoods {
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-top: 40px;
}

.DiscoverFoods button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    border: none;
    font-size: 12px;
    font-weight:bold;
}

.DiscoverFoods img {
    width: 42px;
    height: 42px;
    margin-bottom: 5px;
}


.doThis {
    display: flex;
    flex-direction: row;
    color: #E1591F;
    border: none;
    background-color: transparent;
    font-style: normal;
    text-decoration: underline;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    gap: 9px;
}

.doThis img {
    width: 20px;
    height: 20px;
}

.discoverTitle {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 68px;
}

.discoverTitle p {
    font-family: 'Margarine', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.24px;
    color: #353535;
}

.recommendedTitle {
    margin-top: 31px;
    display: flex;
    flex-direction: row;
    gap: 175px;
}

.recommendedTitle button {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: #E1591F;
    margin-top: 3px;
}

.recommendedTitle img {
    width: 20px;
    height: 20px;
}

.recommendedTitle p {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}