.onboardingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.onboardLogo img {
    width: 200px;
    height: 200px;
}

.onboardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.onboardInfo button {
    font-family: 'Lato', sans-serif;
    margin-top: 60px;
    width: 250px;
    height: 51px;
    background: #5E3E2F;
    border-radius: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.24px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.onboardInfo a {
    font-family: 'Lato', sans-serif;
    padding-top: 17px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.onboardInfo p {
    font-family: 'Margarine', cursive;
    margin-top: 90px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
    width: 250px;
    text-align: center;
    color: #353535;
}